
* {
    font-family: 'Roboto Mono';
    font-size: 16px;
}
html, body {
    background-color: #023047;
}
.card {
    width: 80%; 
    margin-top: 3%;
    background-color: #219ebc;
    position: relative;
}

.btn {
    background-color: #ffb703;
}

.content ul li img, .card , footer p {
    margin-left: auto; 
    margin-right: auto; 
}

.card, .certs, footer p {
    text-align: center;
}

a {
  text-decoration: none;
}

.icons {
    width: 8%;
}

#first {
    width: 4%;
}

.new-card-body {
    background-color: #fb8500;
}

.projects {
    padding-left: 8%;
}

@media (max-width: 1020px) {
  .github {
    display: none;
  }
}
